.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.card {
    margin: 1.5rem;
    flex-basis: 25%;
    text-align: left;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(14,21,47,0.25);
    transition: transform 0.5s ease, box-shadow 0.2s ease;
}

.card:hover,
.card:focus,
.card:active {
    transform: scale(1.02);
    box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
}

.card h2 {
    color: #fff;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.card image {
    max-width: 100%
}
