.card {
    margin: 1.5rem;
    flex-basis: 25%;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(14,21,47,0.25);
    transition: transform 0.5s ease, box-shadow 0.2s ease;

    &:hover,
    &:focus,
    &:active {
        transform: scale(1.02);
        box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
    }

    .front {
        .image {
            margin: 0
        }
        .title {
            font-size: 1rem;
            margin: 0 0 1rem 0;
        }

        .description {
            font-size: 0.75rem;
            line-height: 1.5;
            margin: 0;
        }
    }

    .back {
         transform: rotateY(180deg);
    }

    .flipped {
        background-color: red;
        transform: rotateY(180deg);
    }
}
